@model KutuphaneOtomasyon.Models.Book
@{
    ViewData["Title"] = "Kitap Silme";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Bu kitabı silmek istediğinizden emin misiniz?</h3>

<div>
    <h4>@Model.Title</h4>
    <hr />
    <form asp-action="Delete">
        <input type="hidden" asp-for="BookId" />
        <button type="submit" class="btn btn-danger">Sil</button>
        <a asp-action="Index" class="btn btn-secondary">İptal</a>
    </form>
</div>

